<h1>chat</h1>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div>
            {{socketService.connectionState | json}}
        </div>

        <button (click)="disconnect()" *ngIf="socketService.connectionState.isConnected">disconnect</button>
        <button (click)="connect()" *ngIf="!socketService.connectionState.isConnected">connect</button>
    </div>


    <div class="col-md-5">
        <accordion>
            <accordion-group>
                <div accordion-heading>
                    Platform
                </div>
                <div class="row platform">
                    <div class="col-md-3 users-list">
                        connections
                        <ul>
                            <li *ngFor="let key of objectKeys(socketService.actualConnections)">
                                <a href="#" (click)="selectUser(key, $event)" [ngClass]="{'active': socketService.selectedOpponent == key }">{{key}}</a>
                            </li>
                        </ul>

                        Rooms:
                        <button type="button" class="btn btn-primary" (click)="openModal(template)">Create room</button>
                        <ul>
                        </ul>

                    </div>


                    <div class="col-md-9 chat">
                        <div class="chat-field">
                            <div>{{socketService.selectedOpponent}}</div>
                            <ul>
                                <li *ngFor="let message of socketService.currentMessagesList">
                                    {{message.sender}}: ->
                                    {{message.text}}

                                </li>
                            </ul>
                        </div>
                        <div class="messages-field">
                            <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)">
                                <textarea
                                        class="message-box"
                                        type="text"
                                        formControlName="messageText"
                                        (keydown)="onKey($event, messageForm)"
                                ></textarea>
                            </form>
                        </div>
                    </div>
                </div>
            </accordion-group>

        </accordion>
    </div>
</div>




<template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a modal.
        <button (click)="test()">test</button>
    </div>
</template>


