<h1>chat</h1>

<div >
    {{socketService.connectionState | json}}
</div>

<button (click)="disconnect()" *ngIf="socketService.connectionState.isConnected">disconnect</button>
<button (click)="connect()" *ngIf="!socketService.connectionState.isConnected">connect</button>
<div class="row">
    <div class="col-md-5">
        <ul *ngIf="socketService.messages">
            <li *ngFor="let obj of socketService.messages">
                {{obj.message}}
                {{obj.user | json}}
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <ul *ngIf="socketService.actualConnections">
            <li *ngFor="let key of objectKeys(socketService.actualConnections)">
                {{key}}
                {{socketService.actualConnections[key]}}
            </li>
        </ul>
    </div>


</div>


