<h1>chat</h1>

<div >
    {{socketService.connectionState | json}}
</div>

<button (click)="disconnect()" *ngIf="socketService.connectionState.isConnected">disconnect</button>
<button (click)="connect()" *ngIf="!socketService.connectionState.isConnected">connect</button>
<div class="row">
    <div class="col-md-3">
        <ul *ngIf="socketService.messages">
            <li *ngFor="let obj of socketService.messages">
                {{obj.message}}
                {{obj.user | json}}
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul *ngIf="socketService.actualConnections">
            <li *ngFor="let key of objectKeys(socketService.actualConnections)">
                {{key}}
                {{socketService.actualConnections[key]}}
            </li>
        </ul>
    </div>


    <div class="col-md-5">
        <accordion>

            <accordion-group #group>
                <div accordion-heading>
                    Public messages
                    <i class="pull-right float-xs-right glyphicon"
                       [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
                </div>

                <ul>
                    <li *ngFor="let obj of socketService.messages">
                        {{obj.user | json}}:
                        {{obj.message}}
                    </li>
                </ul>


            </accordion-group>
            <accordion-group>
                <div accordion-heading>
                    message form
                </div>
                <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)">
                   Message: <input
                        type="text"
                        formControlName="newMessage"
                >
                </form>
            </accordion-group>

        </accordion>
    </div>
</div>


